<!DOCTYPE html>

<html>

<head>
    <title>404</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}

        <p>Hi,My Name is Saurabh Sahani.I am a full stack web devloper.I am created this weather app with nodejs.I have used weather stack api to fetch weather data</p>

        
    </div>

    
    {{>footer}}
</body>

</html>